<?xml version="1.0" encoding="UTF-8"?>
<!--web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"-->

<web-app>
    <listener>
        <listener-class>ru.pork.servlet.HibernateListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>clientcontroller</servlet-name>
        <servlet-class>ru.pork.servlet.ClientController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>clientcontroller</servlet-name>
        <url-pattern>/client</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>clubprogramcontroller</servlet-name>
        <servlet-class>ru.pork.servlet.ClubProgramController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>clubprogramcontroller</servlet-name>
        <url-pattern>/clubprogram</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>welcome.jsp</welcome-file>
    </welcome-file-list>
</web-app>